<ion-slides
  #slides
  [options]="slidesOpts"
  class="slides-container"
  [pager]="true"
  (ionSlideWillChange)="onIonSlideTap($event)"
>
  <ion-slide *ngFor="let i of [1, 2, 3, 4]">
    <ion-card class="ion-card">
      <ion-card-header>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit
        clean.
      </ion-card-content>
      <ion-button *ngIf="isEnd">Home</ion-button>
    </ion-card>
  </ion-slide>
</ion-slides>
