<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menuId="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Renovator</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="contact" slot="icon-only" (click)="openUserProfile()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-searchbar
          placeholder="Which car would you like to do servicing?"
        ></ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngFor="let service of services" size="4">
        <div class="service-item ion-text-center">
          <ion-label>
            <ion-icon [name]="service.icon_name"></ion-icon>
            <div class="item-name">{{ service.name }}</div>
          </ion-label>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
