ion-searchbar {
  --color: var(--ion-color-danger);
  --placeholder-color: var(--ion-color-danger);
  --icon-color: var(--ion-color-danger);
}

div.service-item {
  border: 2px solid var(--r-item-color);
  img {
    height: 100px;
  }
}

ion-icon {
  font-size: 64px;
  color: var(--ion-color-danger);
}

div.item-name {
  color: var(--ion-color-danger);
}

div.map {
  height: 100%;
  margin: 0;
  padding: 0;
}
