<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menuId="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Renovator</ion-title>
    <ion-buttons slot="end">
      <ion-icon
        name="contact"
        slot="icon-only"
        (click)="openUserProfile()"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-searchbar
          (ionChange)="onEntry($event)"
          debounce="500"
          placeholder="Which car would you like to do servicing?"
        ></ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item *ngFor="let vehical of vehicals" (click)="book(vehical)">
          <ion-thumbnail slot="start">
            <img [src]="vehical.url" />
          </ion-thumbnail>
          <ion-label>
            <h2>{{ vehical.name }}</h2>
            <p>Click view for details</p>
          </ion-label>
          <ion-button fill="outline" slot="end">View</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngFor="let service of services" size="4">
        <div class="service-item ion-text-center">
          <img [src]="service.url" />
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
